
.crearEventos {
    background-color: white;
    color: black;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.textoEvento{
    background-color: #14365C;
    color: white;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: x-large;
}
#entrada{
    border: 1px solid rgb(175, 175, 175);
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
    border-radius: 5px;
    text-align: left;
}
.botonRegistrar{
    background-color: rgb(255, 213, 30);
    padding: 10px 15px;
    font-weight: bolder;
    border: none;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2vh;
    border-radius: 4px;
    cursor: pointer;
}
.botonRegistrar:hover{
    background-color: rgb(219, 179, 0) ;
}
.botonRegistrar:active{
    background-color: rgb(255, 213, 0);
}

#textoCuadro{
    font-size: small;
    text-align: start;
    width: 20vw;
    margin-left: 4px;
    margin-top: 4px;
}
input{
    font-size: small;
    margin: 3px;
    width: 20vw;
    padding: 4px;
}